
/* Base styles for the Sonny Boy aesthetic */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #FFFFFF;
}

canvas {
  display: block;
}

::selection {
  background: white;
  color: black;
}
